{% extends "layout.html" %}
{% block body %}

<h1>Autonomous system number (ASN)</h1>

{# Note: The onsubmit script overrides funcionality of Submit button to put IP address to custom URL #}
<form id="as_form" onsubmit="window.location='{{ url_for('asn') }}'+$('#as_form #asn').val(); return false;">
  {{ form.asn.label }} {{ form.asn(size=10) }}
  {{ form.asn.errors|join(';') }}
  <input type="submit">
</form>

{% if not asn or not ac('assearch') %}
  {# Print nothing if no ASN was passed #}
{% else %}

<hr>

<div class="entity-info asn">
<p class="header"><span class="entity-id">AS{{ asn }}</span> <span class="entity-name">{{ rec.name }}</span></p>

{% if not rec %}
<p class="notfound">Record not found in database</p>
{% else %}

<dl class="attrs">
  <dt>as-reports</dt><dd><a  target="_blank"  href="https://www.cidr-report.org/cgi-bin/as-report?as=AS{{ asn }}&view=2.0">reports</a></dd>
{% for attr,val in rec|dictsort %}
 {% if attr.startswith("_") and not ac('internal_attrs') %}
  {# pass (hide attrs starting with '_' from normal users) #}
 {% elif attr == "ctry" %}
  <dt>Country</dt><dd><span class="country">
    <a href="http://country.io/{{val|lower}}/">
    <span class="flag flag-{{val|lower}}"></span>{{ ctrydata.names.get(val, '?') }}</a></span></dd>
 {% elif attr == "rir" %}
  <dt>RIR</dt><dd>{{ val|upper }}</dd>
 {% elif attr == "bgppref" %} 
  <dt>BGP Prefixes ({{val|length}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>
  {% for pref in val|sort %}
   <dd><a href="{{ url_for('bgppref') + pref|replace('/','_') }}">{{ pref }}</a></dd>
  {% endfor %}
  </dl></dd>
 {% elif attr == "org" %}
  <dt>Organization</dt>
  <dd><a href="{{ url_for('org') + val }}">{{ val }}</a></dd>
 {% elif val|is_date %}
     <dt>{{ attr }}</dt><dd class="time" data-time={{ val|date_to_int }}>{{ val }}</dd>
 {% else %}
  <dt>{{ attr }}</dt><dd>{{ val }}</dd>
 {% endif %}
{% endfor %}
<dt> ASN SEARCH INFO </dt>
{% for attr,val in asn_search_info|dictsort %}
  {% if attr == "categories" %}
    {% for a in val %}
       <dt> {{a["category"]}} </dt>
        {% for v in a["suggestions"] %}
            <dt><dd>{{v['value']}}&emsp;{{v["description"]}}</dd></dt>
        {% endfor %}
    {% endfor %}
  {% else %}
    <dd> {{attr}} : {{ val }} </dd>
  {% endif %}
{% endfor %}
</dl>

</div>
{% endif %}{# if not found #}
{% endif %}{# if nothing specified #}

{% endblock %}
