{% extends "layout.html" %}
{% block body %}
{% block scripts %}
<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
<!-- custom script specific for this page -->
<script src="{{ url_for('static', filename='ip.js') }}"></script>
{% endblock %}
<h1>IP block</h1>

{% if not ipblock or not ac('ipsearch') %}
  {# Print nothing if no IP-block was passed or insufficient permissions #}
{% else %}

<hr>

<div class="entity-info ipblock">
<p class="header">
{% if rec %}<span class="rep" style="background-color: {{ rep_css_color(rec.rep) }}">{{ "%.3f"|format(rec.rep)|replace("0.",".") if rec.rep is defined else "--" }}</span>{% endif %}
<span class="entity-id">{{ ipblock }}</span><span class="entity-name">{{ rec.name if rec.name else '' }}</span>
</p>

{% if not rec %}
<p class="notfound">Record not found in database</p>
{% else %}

<dl class="attrs">
{% for attr,val in rec|dictsort %}
 {% if attr.startswith("_") and not ac('internal_attrs') %}
  {# pass (hide attrs starting with '_' from normal users) #}
 {% elif attr == "org" %}
  <dt>Organization</dt>
  <dd><a href="{{ url_for('org') + val }}">{{ val }}</a></dd>
 {% elif attr == "ips" %}
  <dt>IPs ({{val|length}})</dt>
  <dd><dl{% if val|length > 5%} class="scrollable"{% endif %}>

  {% for ip in val %}
    {% set list1 = ip.split('\t') %}

    <dd><a href="{{ url_for('ip') + list1[0]|string }}">{{ list1[0] }}</a></dd>
    {% endfor %}
  </dl>
  <p class="caption">IP rank</p>
  <div class="chart-container" style="position: relative; width: 100%; height: 20em">
  <canvas id="plot-ips" width="100" height="100"></canvas>
  <script>

  let ip_data = {{ val|tojson if val else [] }};
  $( function() {create_pref_graph('plot-ips', ip_data.slice(0,25))} );
  </script>
  </div>
</dd>
 {% elif val|is_date %}
     <dt>{{ attr }}</dt><dd class="time" data-time={{ val|date_to_int }}>{{ val }}</dd>
 {% else %}
  <dt>{{ attr }}</dt><dd>{{ val }}</dd>
 {% endif %}
{% endfor %}
</dl>
</div>
{% endif %}{# if not found #}
{% endif %}{# if nothing specified #}

{% endblock %}
